@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../../font/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../font/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../font/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../font/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../font/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 16px;
}

a, .btn-links {
  color: #000000;
  text-decoration: none;
}
a:hover, .btn-links:hover {
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: -15px;
  margin: auto;
  box-sizing: border-box;
}

.container-friud {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.row-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.header {
  margin-bottom: 15px;
}
.header .page-setting {
  padding: 15px 15px;
  background-color: #222;
  display: flex;
  color: #525252;
  justify-content: space-between;
}
.header .page-setting .ps {
  display: flex;
  margin: 0 15px;
  padding: 0 -15px;
  font-size: 0.875rem;
}
.header .page-setting .ps .ps-config {
  padding: 0 15px;
}
.header .navbar {
  display: flex;
  padding: 20px 15px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.header .navbar img {
  margin: 0 15px;
}
.header .navbar .nav-link {
  display: flex;
  align-items: center;
  padding: 0 -28.5px;
  padding-right: 72.5px;
  font-weight: 700;
}
.header .navbar .nav-link li {
  margin: 0 28.5px;
}
.header .navbar .control-items {
  padding: -15px;
  margin: 0 15px;
}
.header .navbar .control-items a, .header .navbar .control-items .btn-links {
  margin: 15px;
}

.footer {
  background-color: #222222;
  color: #888888;
}
.footer-main {
  padding: 48px 0;
}
.footer-main-title {
  color: #f7f7f7;
  margin: 0 0 30px 0;
}
.footer-main-line {
  width: 100%;
}
.footer-main .row {
  justify-content: space-between;
}
.footer-main .row .about {
  width: 29%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 10px;
}
.footer-main .row .about p {
  font-family: "Open Sans";
  border-top: 1px solid #393939;
  margin: 30px 0 50px 0;
  padding: 30px 0 0 0;
}
.footer-main .row .about-social {
  padding: 0 -15px;
}
.footer-main .row .about-social .icon {
  margin: 0 15px;
}
.footer-main .row .navigation {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
.footer-main .row .navigation-group {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #393939;
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
}
.footer-main .row .navigation-group ul {
  font-family: "Open Sans";
}
.footer-main .row .navigation-group ul li {
  margin: 10px 0;
}
.footer-main .row .navigation-group ul li a, .footer-main .row .navigation-group ul li .btn-links {
  color: #888888;
}
.footer-main .row .navigation-group ul li a:hover, .footer-main .row .navigation-group ul li .btn-links:hover {
  color: #f7f7f7;
  text-decoration: underline;
}
.footer-main .row .contact {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
.footer-main .row .contact-group {
  border-top: 1px solid #393939;
  margin: 30px 0 50px 0;
  padding: 30px 0 0 0;
}
.footer-main .row .contact-group-info {
  display: flex;
  justify-content: space-between;
}
.footer-main .row .contact-group-info .icon {
  margin: 0 10px 0 0;
}
.footer-main .row .contact-group-info span {
  padding: 0 0 0 10px;
}
.footer-copyright {
  padding: 30px 0;
  border-top: 1px solid #393939;
}
.footer-copyright .row {
  justify-content: space-between;
}

.banner .banner-col {
  margin: -15px 0;
}
.banner-left {
  width: 66%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
  position: relative;
}
.banner-right {
  width: 33%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
.banner-right .banner-child {
  padding: 15px 0;
}

.featured-items {
  padding: 65px 0;
}
.featured-items_group .title h4 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  color: #8262b5;
}
.featured-items_group .title h2 {
  margin: 10px 0 15px 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.featured-items_group .title hr {
  margin: 15px 0;
  border: 1px solid #8262b5;
  width: 5%;
}
.product {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;
}
.news {
  position: relative;
  height: 75.268vh;
  padding-top: 15px;
}
.news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
.news .title {
  position: absolute;
  text-align: center;
  padding: 15px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.news .title h4 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  color: #8262b5;
}
.news .title h2 {
  margin: 10px 0 15px 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.news .title hr {
  margin: 15px 0;
  border: 1px solid #8262b5;
  width: 20%;
}
.news .title hr {
  width: 20%;
  margin: auto;
}
.news .slider {
  position: absolute;
  top: 27.5%;
  left: 20%;
  transform: translateX(0%);
  display: flex;
}
.news .slider-item {
  width: 360px;
  background-color: #fff;
  margin: 15px;
}
.news .slider-item .news-img {
  position: relative;
}
.news .slider-item .news-img img {
  object-fit: cover;
  height: 200px;
  opacity: 1;
}
.news .slider-item .news-img .news-date {
  position: absolute;
  padding: 5px;
  top: 0;
  margin: 22px 20px;
  background-color: #a1d1dd;
}
.news .slider-item .news-img .news-date .date {
  width: 50px;
  height: 50px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  border: 1px solid #fff;
}
.news .slider-item .news-img .news-date .date p {
  margin: 6px;
}
.news .slider-item .slider-content {
  padding: 20px;
}
.news .slider-item .slider-content .slider-title {
  margin-bottom: 25px;
  font-weight: 600;
}
.news .slider-item .slider-content .details {
  font-family: "Open Sans";
  font-size: 14px;
}
.news .slider-item .react-btn {
  border-top: 1px solid #c0c0c0;
  display: flex;
  padding: 20px;
  color: #c0c0c0;
}
.news .slider-item .react-btn .like {
  margin: 0 20px;
}
.news .slider-item:hover h4 {
  color: #8262b5;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/*# sourceMappingURL=main.css.map */
