.news {
    position: relative;
    height: 72.268vh;
    padding-top: 35px;
    overflow: hidden;
    box-sizing: border-box;
    

    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../img/bg-news.png');
        width: 100%;
        height: 100%;
        opacity : 0.2;
        z-index: -1;
    }

    .title{
        @include title(40px);
        text-align: center;
        margin: 36px 0 0 18px;    
    }


    .container{
        padding: 0 ;

        .slider{
            margin: 80px 0;
            display: flex;
            .slick-dots{
                margin: -30px 0;
                li{
                    button{
    
                        &:before{
                            
                            background-color: $text-violet;
                            border-radius: 50%;
                            width: 13px;
                            height: 13px;
    
                        }
                    }
                }
    
            }
    
            .slick-list {
                height: 90%;
            }
    
            .slider-item{
                background-color: $text-white; 
                @include col(33);
                padding: 0;
                margin: 0 15px;
                font-size: 14px;

                .news-img{
                    position: relative;
    
                    img{
                        width: 100%;
                        object-fit: contain;
                    }
    
                    .news-date{
                        position: absolute;
                        padding: 5px;
                        top: 0;
                        margin: 22px 20px;
                        background-color: $bg-date-box;
    
                        .date{
                            width: 50px;
                            height: 50px;
                            color: $text-white;
                            font-weight: 700;                        
                            text-align: center;
                            border: 1px solid $text-white;
                            p{
                                margin: 6px;
    
                            }
                        }
                    }
                }
    
                .slider-content{
                    padding: 20px;
                    
                    .slider-title{
                        margin-bottom: 25px;
                        font-weight: 600;
                    }
        
                    .details{
                        font-family: $font-open-sans;
                        font-size: 14px;
                    }
                }
    
                .react-btn{
    
                    border-top: 1px solid $text-gray;
                    display: flex;
                    padding:20px;
                    color: $text-gray;
    
                    .comment{
    
                    }
    
                    .like{
                        margin: 0 20px;
                    }
                }
    
                &:hover{
                    h4{
                        color: $text-violet;
                    }
                }
            }
        }
    }

}