@mixin col($number) {
  width: $number;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 15px 0;

  img {
    width: 100%;
  }
}


//Button
@mixin btn($bg-color, $text-color) {
  width: 118px;
  height: 40px;
  background-color: $bg-color;
  color: $text-color;
}


//Title
@mixin title($hr-width) {
  position: relative;
  h4 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.875rem;
    color: $text-violet;
  }

  h2 {
    margin: 10px 0 15px 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  &:after {
    width: $hr-width;
    content: "";
    position: absolute;
    bottom: -30px;

    border-top: 2px solid $text-violet;
    z-index: -1;
  }
}

@mixin button-primary($bg-color, $text-color, $width) {
  background-color: $bg-color;
  color: $text-color;
  width: $width;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}

@mixin transformer($scale) {
  transform: $scale;
  -webkit-transform: $scale;
  -moz-transform: $scale;
  -ms-transform: $scale;
  -o-transform: $scale;
}
