// Text Colors
$text-violet: #8262b5;
$text-black: #000;
$text-white: #fff;
$text-white-2: #f7f7f7;
$text-gray: #c0c0c0;
$text-gray-2: #888888;
$text-gray-3: #222222;
$text-page-settings: #525252;
$text-price: #999999;
$btn-atc: #424242;



// Button Colors
$btn-primary: #8262b5;
$btn-secondary: #fff;
