body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 16px;
}

a{
    color: #000000;
    text-decoration: none;

    &:hover{
        color:#000000;
    }
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

h1,
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
}


.container{
    max-width: 1140px;
    width: 100%;
    padding:-15px;
    margin: auto;
    box-sizing: border-box;
}


.container-friud{
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.row-header{
    display: flex;
    justify-content:space-between;
    margin: 0 ;
}


.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}